{% extends 'base.html'%}
{% load bootstrap4 %}
{% load bootstrap_icons %}
{% block content%}
{{ block.super}}

<div style="background-color: rgb(6, 6, 51); " class="container-fluid">


    <div style="color: white;" class="row">
        {%if hood%}
        <div class="col-sm-5 col-md-5 mt-5"> <a href="{% url 'home'%}"> <img style="width: 100%; border-radius: 25px;"
                    src="{{hood.image.url}}" alt="neighbourhood image"></a></div>
        <div class="col-sm-7 mt-5">
            <h3 class="mt-4"> <strong> {{hood.name}}</strong> </h3>
            <h3> location: {{hood.location}}</h3>
            <p style="font-size: 25px;">{{hood.description}}</p>
            <h3> Count : {{hood.count}} members</h3>

            <h3> Registered by: {{hood.admin}}</h3>
            <h3>Police Contact : {{hood.police}}</h3>
            <h3>Healthcare Number : {{hood.health}}</h3>

        </div>

    </div>

    {%else%}
    <div class="col-sm-4 col-md-5">there are no registered hoods </div>

    {%endif%}

    <div class="row mt-5 justify-content-md-center">
        {% if business %}

        {%for business in business%}


        <div class="col-sm-8 col-md-8">
            <h1 style="text-align: center; color: white;">Businesses in {{hood.name}} </h1>

            <div class="row">
                <div style="padding-top: 1%;" class="col-sm-6 col-md-6">

                    <form role="search" action="{% url 'search' %}">

                        <div class="input-group">
                            <input style="background-color: #efefef;" type="text" class="form-control"
                                placeholder="Search for businesses" name="business">
                            <div class="input-group-btn">
                                <button style="border: 1px solid rgb(71, 69, 69);" class="btn btn-default"
                                    type="search">{% bs_icon 'search' %}
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="form col-md-4">

                    <a href="{% url 'business' %}" class="btn btn-info"> Add your business</a>
                </div>


            </div>

            <button></button>

            <div class="card-columns mt-5">
                <div class="card">
                    <div class="card-header text-center"><strong>{{business.name}}</strong></div>
                    <div class="card-body text-center">

                        <p class="card-text">{{business.description}}</p>
                        <p>{{business.email}}</p>
                    </div>
                    <div class="card-footer">
                        <p>Owner : {{business.user}} </p>
                    </div>
                </div>
            </div>

        </div>
        {%endfor%}
        {%else%}
        <div class="col-sm-4 col-md-4">there are no registered businesses </div>
        {%endif%}

    </div>
    <div class="mt-5">

        <h1 style="text-align: center; color: white;">Upcoming Events in the hood</h1>


        <div class="row justify-content-md-center mb-5">
            {%if posts%}

            {% for post in posts%}
            <div class="card-columns ">
                <div class="card" style="width:400px ; margin-left: 4%; box-shadow: 3px 3px 5px black;">
                    <img style="width: 100%;" src="{{post.post_image.url}}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{post.title}}</h4>
                        <p class="card-text">{{post.post_description}}</p>
                        <p>By : {{post.user}}</p>
                        <p>Posted on {{post.date}}</p>

                    </div>
                </div>
            </div>


            {%endfor%}


            {%else%}
            <p>no new posts in this hood</p>
            {%endif%}


        </div>
    </div>
</div>
{%endblock%}