{% load bootstrap4 %}
{% load bootstrap_icons %}
<div class="container-fluid">
    <nav style="color: black;" class="navbar navbar-inverse">


        <div class="container-fluid">
            <div class="navbar-header">
                <h1>Neighbourhood</h1>


            </div>



            <div style="display: flex; " class="navbar-right">
                <p style="margin-right: 2em; padding-top: 5%;"><a
                        href="{%url 'home'%}">{% bs_icon 'house-door-fill' color='black' size='1.5em' %}</a></p>


                <ul style="list-style-type: none; margin:0 ; padding: 0;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button"
                            aria-expanded="false">{% bs_icon 'person-circle' size='1.5em' %}
                            <span class="caret"></span>
                        </a>
                        <ul style="color: black;" class="dropdown-menu" role="menu">

                            <li>
                                <a style="color: black;"
                                    href="{%url 'profile'%}">{% bs_icon 'person-circle' %}Profile</a>
                            </li>
                            <li>
                                <a style="color: black;" href="/accounts/password_change">
                                    {% bs_icon 'key-fill' %}Change Password</a>
                            </li>
                            <li>
                                <a style="color: black;" href="/logout"> {% bs_icon 'file-lock-fill'  %}Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>

        </div>
    </nav>
</div>